{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="copyright" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'shop/' %}images/favicon.png">
            <!-- Web Font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
        <!-- StyleSheet -->
        
        <!-- Notification -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/notification.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/bootstrap.css">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/magnific-popup.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/font-awesome.css">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/jquery.fancybox.min.css">
        <!-- Themify Icons -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/themify-icons.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/niceselect.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/animate.css">
        <!-- Flex Slider CSS -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/flex-slider.min.css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/owl-carousel.css">
        <!-- Slicknav -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/slicknav.min.css">
    
        <!-- Eshop StyleSheet -->
        <link rel="stylesheet" href="{% static 'shop/' %}css/reset.css">
        <link rel="stylesheet" href="{% static 'shop/' %}style.css">
        <link rel="stylesheet" href="{% static 'shop/' %}css/responsive.css">

        <!-- Font Awesome-->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    </head>

    <body class="js">
        <!-- Header -->
        <header class="header shop">
            <!-- Topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12">
                            <!-- Top Left -->
                            <div class="top-left">
                                <ul class="list-main">
                                    <li><i></i>{{today}}</li>
                                    <li><i class="ti-headphone-alt"></i> (028) 38 351 056</li>
                                    <li><i class="ti-email"></i> tuvan@csc.hcmus.edu.vn</li>
                                </ul>
                            </div>
                            <!--/ End Top Left -->
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <!-- Top Right -->
                            <div class="right-content">
                                <ul class="list-main">
                                    {% if request.user.is_authenticated %}
                                        <li><i class="ti-user"></i> <a href="#">{{request.user.username}}</a></li>
                                        <li><i class="ti-power-off"></i><a href="{% url 'shop:logout' %}">Logout</a></li>
                                    {% else %}
                                        <li><i class="ti-power-off"></i><a href="{% url 'shop:login.html' %}">Login</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- End Top Right -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->
            <div class="middle-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-12">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'shop:index.html'%}"><img src="{% static 'shop/' %}images/logo.png" alt="logo"></a>
                            </div>
                            <!--/ End Logo -->
                            <!-- Search Form -->
                            <div class="search-top">
                                <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                                <!-- Search Form -->
                                <div class="search-top">
                                    {% comment %} <form class="search-form" id="mobileSearch" action="{% url 'shop:search_form.html'%}?" > {% endcomment %}
                                    <form class="search-form" id="mobileSearch" action="{% url 'shop:index.html'%}?" >
                                        <input type="text"  name="keyword" placeholder="Search here..."  value="{% if keyword != 'None' %}{{keyword}}{% endif %}" >
                                        <a value="search"  onclick="initSearch('mobileSearch')"><i class="ti-search"></i></a>
                                    </form>
                                </div>
                                <!--/ End Search Form -->
                            </div>
                            <!--/ End Search Form -->
                            <div class="mobile-nav"></div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-12">
                            <div class="search-bar-top"> 
                                <div class="search-bar text-left"> 
                                    {% comment %} <form id="desktopSearch" action="{% url 'shop:search_form.html'%}?" style="width:100%"> {% endcomment %}
                                    <form id="desktopSearch" action="{% url 'shop:index.html'%}?" style="width:100%">
                                        <div class="row">
                                            <div class="col-sm-4" style="width 50%">
                                                <select name="subcategory_id" class="chosen" >
                                                    <option value="*" {% if subcategory_id == 0 %}selected="selected"{% endif %}>Tất cả danh mục</option>
                                                    {%if categories %}
                                                        {% for cat in categories %}
                                                            {%if cat.subcategories %}
                                                                <optgroup label="{{cat.name}}">
                                                                    {% for subcat in cat.subcategories %}
                                                                <option value="{{subcat.id}}"  {% if subcat.id == subcategory_id %}selected="selected"{% endif %}> {{subcat.name}}</option> 
                                                                    {%endfor%}		
                                                                </optgroup>
                                                            {%endif%}
                                                        {%endfor%}
                                                    {%endif%}
                                                </select>
                                            </div>
                                            <div class="col-sm-8" style="width 50%">
                                                <input type="text" name="keyword"  placeholder="Tìm sản phẩm....." value="{% if keyword != 'None' %}{{keyword}}{% endif %}">
                                                <a class="btnn" onclick="initSearch('desktopSearch')"><i class="ti-search"></i></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-12">
                            <div class="right-bar">
                                <!-- Search Form -->
                                <div class="sinlge-bar">
                                    <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                                <div class="sinlge-bar">
                                    <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                                </div>
                                <div class="sinlge-bar shopping">
                                    <a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>
                                    <!-- Shopping Item -->
                                    <div class="shopping-item">
                                        <div class="dropdown-cart-header">
                                            <span>2 Items</span>
                                            <a href="#">View Cart</a>
                                        </div>
                                        <ul class="shopping-list">
                                            <li>
                                                <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                                <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                                <h4><a href="#">Woman Ring</a></h4>
                                                <p class="quantity">1x - <span class="amount">$99.00</span></p>
                                            </li>
                                            <li>
                                                <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                                <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                                <h4><a href="#">Woman Necklace</a></h4>
                                                <p class="quantity">1x - <span class="amount">$35.00</span></p>
                                            </li>
                                        </ul>
                                        <div class="bottom">
                                            <div class="total">
                                                <span>Total</span>
                                                <span class="total-amount">$134.00</span>
                                            </div>
                                            <a href="checkout.html" class="btn animate">Checkout</a>
                                        </div>
                                    </div>
                                    <!--/ End Shopping Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Inner -->
            <div class="header-inner">
                <div class="container">
                    <div class="cat-nav-head">
                        <div class="row">						
                            <div class="col-lg-12 col-12">
                                <div class="menu-area">
                                    <!-- Main Menu -->
                                    <nav class="navbar navbar-expand-lg">
                                        <div class="navbar-collapse">	
                                            <div class="nav-inner">	
                                                <ul class="nav main-menu menu navbar-nav">
                                                        <li class="active"><a href="{% url 'shop:index.html'%}">Home</a></li>				
                                                        {%if categories %}
                                                            {% for cat in categories %}
                                                                {%if cat.subcategories %}
                                                                <li ><a href="#">{{cat.name}}</a>
                                                                    <ul class="dropdown">
                                                                        {% for subcat in cat.subcategories %}
                                                                            <li><a href="{% url 'shop:shop-grid.html' subcat.id%}">{{subcat.name}}</a></li>
                                                                        {%endfor%}
                                                                    </ul>
                                                                </li>	
                                                                {%endif%}
                                                            
                                                            {%endfor%}
                                                        {%endif%}
                                                        <li><a href="{% url 'shop:cart.html' %}">Giỏ hàng</a></li>
                                                        <li><a href="{% url 'shop:checkout.html' %}">Thanh toán</a></li>


                                                        <li><a href="http://127.0.0.1:8000/">Stories</a></li>													
                                                        <li><a href="{% url 'shop:contact.html' %}">Liên hệ</a></li>

                                                        <li><a href="{% url 'shop:read_feed' %}">RSS</a></li>
                                                    </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <!--/ End Main Menu -->	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Header Inner -->
        </header>
        <!--/ End Header -->
	
        {% block body_block %} 
            <!-- Anything outsite of this will be inherited if you extend! --> 
        {% endblock %}
	
        <div class="fuild-container">
            <iframe style="width: 100%; height: 350px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2994504065846!2d106.69662227485712!3d10.788361589361118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f355ad805e9%3A0x2c9d679744d9e54b!2zNjAsIE5ndXnhu4VuIMSQw6xuaCBDaGnhu4N1LCDEkGEgS2FvLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1687173619408!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!-- Start Shop Services Area -->
        <section class="shop-services section home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Start Single Service -->
                        <div class="single-service">
                            <i class="ti-rocket"></i>
                            <h4>Giao hàng miễn phí</h4>
                            <p>Cho đơn hàng trên 1 triệu</p>
                        </div>
                        <!-- End Single Service -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Start Single Service -->
                        <div class="single-service">
                            <i class="ti-reload"></i>
                            <h4>Đổi trả hàng</h4>
                            <p>Trong 7 ngày miễn phí</p>
                        </div>
                        <!-- End Single Service -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Start Single Service -->
                        <div class="single-service">
                            <i class="ti-lock"></i>
                            <h4>Thanh toán an toàn</h4>
                            <p>100% đảm bảo an toàn</p>
                        </div>
                        <!-- End Single Service -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Start Single Service -->
                        <div class="single-service">
                            <i class="ti-tag"></i>
                            <h4>Giá tốt</h4>
                            <p>Đảm bảo giá tốt</p>
                        </div>
                        <!-- End Single Service -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Shop Services Area -->
	
		
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <!-- Product Slider -->
                                    <div class="product-gallery">
                                        <div class="quickview-slider-active">
                                        </div> 
                                    </div>
                                </div>
                                <!-- End Product slider -->
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="quickview-content">
                                    <h2>Flared Shift Dress</h2>
                                    <div class="quickview-ratting-review">
                                        <div class="quickview-ratting-wrap">
                                            <div class="quickview-ratting">
                                                <i class="yellow fa fa-star"></i>
                                                <i class="yellow fa fa-star"></i>
                                                <i class="yellow fa fa-star"></i>
                                                <i class="yellow fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <a href="#"> (1 customer review)</a>
                                        </div>
                                        <div class="quickview-stock">
                                            <span><i class="fa fa-check-circle-o"></i> in stock</span>
                                        </div>
                                    </div>
                                    <h3>$29.00</h3>
                                    <div class="quickview-peragraph">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.</p>
                                    </div>
                                    <div class="size">
                                        <div class="row">
                                            <div class="col-lg-6 col-12">
                                                <h5 class="title">Size</h5>
                                                <select>
                                                    <option selected="selected">s</option>
                                                    <option>m</option>
                                                    <option>l</option>
                                                    <option>xl</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <h5 class="title">Color</h5>
                                                <select>
                                                    <option selected="selected">orange</option>
                                                    <option>purple</option>
                                                    <option>black</option>
                                                    <option>pink</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quantity">
                                        <!-- Input Order -->
                                        <div class="input-group">
                                            <div class="button minus">
                                                <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                    <i class="ti-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="1000" value="1">
                                            <div class="button plus">
                                                <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                                    <i class="ti-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!--/ End Input Order -->
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#" class="btn">Add to cart</a>
                                        <a href="#" class="btn min"><i class="ti-heart"></i></a>
                                        <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
                                    </div>
                                    <div class="default-social">
                                        <h4 class="share-now">Share:</h4>
                                        <ul>
                                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->

        <div class="notifications"></div>

        <!-- Start Footer Area -->
        <footer class="footer">
            <!-- Footer Top -->
            <div class="footer-top section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer about">
                                <div class="logo">
                                    <a href="index.html"><img src="{% static 'shop/' %}images/logo2.png" alt="#"></a>
                                </div>
                                <p class="text">Cừa hàng chuyên cung cấp các sản phầm đồ dùng nhà biết và thiết bị gia đình</p>
                                <p class="call">Cần hỗ trợ 24/7<span><a href="tel:123456789">(028) 38 351 056</a></span></p>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer links">
                                <h4>Về chúng tôi...</h4>
                                <ul>
                                    <li><a href="#">Giới thiệu</a></li>								
                                    <li><a href="#">Chính sách & Điều khoản</a></li>
                                    <li><a href="#">Liên hệ</a></li>
                                    <li><a href="#">Trợ giúp</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer links">
                                <h4>DV khách hàng</h4>
                                <ul>
                                    <li><a href="#">Phương thức thanh toán</a></li>
                                    <li><a href="#">Hoàn tiền</a></li>
                                    <li><a href="#">Đổi trả hàng</a></li>
                                    <li><a href="#">Giao hàng</a></li>								
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer social">
                                <h4>Liên hệ</h4>
                                <!-- Single Widget -->
                                <div class="contact">
                                    <ul>
                                        <li>137E Nguyễn Chí Thanh</li>
                                        <li>P.9 Q.5 TP.HCM</li>
                                        <li>tuvan@csc.hcmus.edu.vn</li>
                                        <li>(028) 38 351 056</li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                                <ul>
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-flickr"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top -->
            <div class="copyright">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="left">
                                    <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="right">
                                    <img src="{% static 'shop/' %}images/payments.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- /End Footer Area -->

        
 
        <!-- Jquery -->
        <script src="{% static 'shop/' %}js/jquery.min.js"></script>
        <script src="{% static 'shop/' %}js/jquery-migrate-3.0.0.js"></script>
        <script src="{% static 'shop/' %}js/jquery-ui.min.js"></script>
        <!-- Popper JS -->
        <script src="{% static 'shop/' %}js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'shop/' %}js/bootstrap.min.js"></script>
        <!-- Color JS -->
        <script src="{% static 'shop/' %}js/colors.js"></script>
        <!-- Slicknav JS -->
        <script src="{% static 'shop/' %}js/slicknav.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="{% static 'shop/' %}js/owl-carousel.js"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static 'shop/' %}js/magnific-popup.js"></script>
        <!-- Waypoints JS -->
        <script src="{% static 'shop/' %}js/waypoints.min.js"></script>
        <!-- Countdown JS -->
        <script src="{% static 'shop/' %}js/finalcountdown.min.js"></script>
        <!-- Nice Select JS -->
        <script src="{% static 'shop/' %}js/nicesellect.js"></script>
        <!-- Flex Slider JS -->
        <script src="{% static 'shop/' %}js/flex-slider.js"></script>
        <!-- ScrollUp JS -->
        <script src="{% static 'shop/' %}js/scrollup.js"></script>
        <!-- Onepage Nav JS -->
        <script src="{% static 'shop/' %}js/onepage-nav.min.js"></script>
        <!-- Easing JS -->
        <script src="{% static 'shop/' %}js/easing.js"></script>
        <!-- Active JS -->
        <script src="{% static 'shop/' %}js/active.js"></script>
        <script data-src="{% static 'plugins/' %}jquery-chosen/chosen-min.js"></script>
        <script type="text/javascript">
            function addtocart(aurl){
                aurl = aurl + '&quantility=' + $('#quantility').val() + '&size=' + $('#size').val() + '&color=' + $('#color').val()
                console.log(aurl)
                $('#exampleModal').modal('hide');
                $.ajax({
                    url: aurl,
                    type: "GET",
                    dataType: "html",
                    success: function(output_html){
                        success_noti()
                    },
                    error: function(xhr, status){
                        error_noti()
                    },
                })
            }
            function quickview(aurl){
                $.ajax({
                    url: aurl,
                    type: "GET",
                    dataType: "html",
                    success: function (output_html) {
                        $('#exampleModal .modal-body').html(output_html);
                        $('#exampleModal').modal('show');
                    },
                    error: function (xhr, status) {
                        //alert("Sorry, there was a problem!");
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                });
            }
            function initSearch(elem_id) {
                //elem_id = ID element get parameter 
                url_to_load = $('#' + elem_id).attr('action'); 
            
                //Convert form to data
                var url_data = {}; 
                $.each($('#' + elem_id).serializeArray(), function() {
                    if (this.value != '' && this.value != '*' && this.value != 'None'  ) {
                    var name = this.name;
                    var value = this.value;
                    if (!url_data[name]) {
                        url_data[name] = [];
                    }
                    url_data[name].push(value);
                    }
                });
                //Convert data to url
                $.each(url_data, function(uk, uv) {
                    url_to_load += '&' + uk + '=' + uv.join(",");
                }); 
                //alert(url_to_load);
                location = url_to_load; 
            }
            $(document).ready(function() {
                //$('.chosen').chosen({height: "150px",width: "100%",search_contains: true});
                $('#desktopSearch input').on('keydown', function(e) {
                    if (e.keyCode == 13) {
                        initSearch('desktopSearch')
                    }
                });
                $('#mobileSearch input').on('keydown', function(e) {
                    if (e.keyCode == 13) {
                        initSearch('mobileSearch')
                    }
                });
            });

            {% comment %} START THÔNG BÁO {% endcomment %}
                let notifications = document.querySelector('.notifications');
                
                function createToast(type, icon, title, text){
                    let newToast = document.createElement('div');
                    newToast.innerHTML = `
                        <div class="toast ${type}">
                            <i class="${icon}"></i>
                            <div class="content">
                                <div class="title">${title}</div>
                                <span>${text}</span>
                            </div>
                            <i class="fa-solid fa-xmark" onclick="(this.parentElement).remove()"></i>
                        </div>`;
                    notifications.appendChild(newToast);
                    newToast.timeOut = setTimeout(
                        ()=>newToast.remove(), 5000
                    )
                }
                function success_noti(){
                    let type = 'success';
                    let icon = 'fa-solid fa-circle-check';
                    let title = 'Success';
                    let text = 'This is a success toast.';
                    createToast(type, icon, title, text);
                }

                function error_noti(){
                    let type = 'error';
                    let icon = 'fa-solid fa-circle-exclamation';
                    let title = 'Error';
                    let text = 'This is a error toast.';
                    createToast(type, icon, title, text);
                }

                function warning_noti(){
                    let type = 'warning';
                    let icon = 'fa-solid fa-triangle-exclamation';
                    let title = 'Warning';
                    let text = 'This is a warning toast.';
                    createToast(type, icon, title, text);
                }
                function info_noti(){
                    let type = 'info';
                    let icon = 'fa-solid fa-circle-info';
                    let title = 'Info';
                    let text = 'This is a info toast.';
                    createToast(type, icon, title, text);
                }
            {% comment %} END THÔNG BÁO {% endcomment %}

            // START update số lượng (- / + ) trong giỏ hàng
                function updateQuantility(even, action){
                    id = $(even).attr('prid')
            
                    total = $('#total').text().substr(1, $('#total').val().lenght)
            
                    price = $('#price-'+id +' span').text()
            
                    quant = $('#quantility-'+id).val()
                    if(quant <= 1 && action == 'tru'){
                        alert("Số lượng của sản phẩm phải lớn hơn 0")
                        return;
                    }
                    if(action == 'cong'){
                        quantility = Number(quant) + 1
                    } else if(action == 'tru'){
                        quantility =  Number(quant) - 1
                    }
                    $.ajax({
                        url: "{% url 'shop:updateQuantility' %}",
                        data: {id: id, quantility: quantility, 'csrfmiddlewaretoken':"{{ csrf_token }}"},
                        method: 'POST',
                        success: function(result){
                            if(result.status =='success'){
                                updateRow(id, quantility, price, total)
                            }
                        }
                    })
                }

                function updateRow(id, quantility, price, total){
                    $('#quantility-'+id).val(quantility)
                    total_cart_old = $('#total-'+id).text().substr(1, $('#total-'+id).text().lenght) //Tổng giá cũ của 1 cart cũ đó
                    
                    total_cart_order = Number(total) - Number(total_cart_old) //Tổng giá của các cart khác
                    total_cart_new = Number(price) * Number(quantility) //Tổng giá mới của 1 cart đó
                    $('#total-'+id).html('$' + total_cart_new)
                    total_carts = Number(total_cart_order) + Number(total_cart_new) //Tổng các cart mới
                    $('#total').html('$' + total_carts)
                }
            // END update số lượng (- / +) trong giỏ hành
        </script>
    </body>
</html>