{% extends 'shop/base.html' %}
{% load static %}
{% load tags %}
{% load mathfilters %}
{% load tz %}
{% load humanize %}
{% block 'block_link' %}
<link rel="stylesheet" href="{% static 'shop/' %}css/modal.css">
{% endblock %}
{% block body_block %}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
        
<!-- Shopping Cart -->
<div class="shopping-cart section">
    {% csrf_token %}    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <td style="width: 1px;" class="text-center"><input type="checkbox"
                                onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                            <th>SẢN PHẨM</th>
                            <th>TÊN</th>
                            <th class="text-center">ĐƠN GIÁ</th>
                            <th class="text-center">SỐ LƯỢNG</th>
                            <th class="text-center">THÀNH TIỀN</th> 
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for key, value in carts.items %}
                            {% for k,v in value.items %}
                                <tr id="cart-{{v.id}}">
                                    <td>
                                        <input onclick('checkbox(this)') type="checkbox" name="product" value="{{v.id}}" id="{{v.id}}"><label></label>
                                    </td>
                                    <td class="image" data-title="No"><img src="{{v.product.image.url}}" alt="#"></td>
                                    <td class="product-des" data-title="Description">
                                        <p class="product-name"><a href="#">{{v.product.name}}</a></p>
                                        <p class="product-des">{{v.description|safe}}</p>
                                        <div class="sku_code_key">{{key}}<div>
                                    </td>
                                        <td class="price" id="price-{{v.id}}" data-title="Price" value="{{v.product.price}}">$<span>{{v.product.price}}</span></td>
                                        <td class="qty" data-title="Qty"><!-- Input Order -->
                                            <div class="input-group">
                                                <div class="button minus">
                                                    <button id="action" type="button" prid={{v.id}} onclick="updateQuantility(this, action='tru')" class="btn btn-primary btn-number">
                                                        <i class="ti-minus"></i>
                                                    </button>
                                                </div>
                                                <input id="quantility-{{v.id}}" type="text" name="quant[1]" class="input-number"  data-min="1" data-max="100" value="{{v.quantility}}">
                                                <div class="button plus">
                                                    <button id="action" type="button" prid={{v.id}} onclick="updateQuantility(this, action='cong')" class="btn btn-primary btn-number" >
                                                        <i class="ti-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!--/ End Input Order -->
                                        </td>
                                        <td class="total-amount"  data-title="Total">
                                            <span id='total-{{v.id}}'>${{v.quantility|mul:v.product.price}}</span>
                                        </td>
                                        <td class="action" id="remove-{{v.id}}"  data-title="Remove"><a prid={{v.id}} onclick="deleteCart(this)" href=""><i class="ti-trash remove-icon"></i></a></td>
                                </tr>

                            {% endfor %}
                        {% endfor %}
                        
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Nhập mã giảm giá">
                                        <button class="btn">Áp dụng</button>
                                        <a href="" data-toggle="modal" data-target="#exampleModal" onclick="modalVoucher()" style="color:orange">Chọn mã</a>
                                    </form>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Giao hàng (+20.000đ)</label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Tạm tính<span id='total'>${{total}}</span></li>
                                    <li>Giao hàng<span>Miễn phí</span></li>
                                    <li>Tiết kiệm<span>$20.00</span></li>
                                    <li class="last">Tổng đơn hàng<span>$310.00</span></li>
                                </ul>
                                <div class="button5">
                                    <a onclick="pay('{% url 'shop:pay.html' %}')" class="btn">Thanh toán</a>
                                    <a href="{% url 'shop:index.html' %}" class="btn">Tiếp tục mua sắm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Choose Eshop Voucher</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% for v in vouchers %}
                <div class="voucher_type_title">Mã miễn phí vận chuyển</div>
                <div class="voucher_each">
                    <div class="voucher_card">
                        <div class="voucher_card_left">
                            <div class="voucher_card_left_child"></div>
                        </div>
                        <div class="voucher_card_right"></div>
                        <div class="voucher_card_hideOverflow"></div>
                        <div class="voucher_card_template">
                            <div class="voucher_card_template_left">
                                <div class="voucher_card_template_logo">
                                    <img class="voucher_card_template_logo_img" src="https://cf.shopee.vn/file/sg-11134004-7qvf9-lfrr7rg2nyn9ee" alt="Logo">
                                </div>
                                <div class="voucher_card_template_logo_text1" data-cy="voucher_card_icon_text" style="color: white;">
                                    Mã vận chuyển
                                </div>
                                <div class="voucher_card_template_logo_text2" data-cy="voucher_card_sub_icon_text">
                                    HÀNG CỒNG KỀNH
                                </div>
                            </div>
                            <div class="voucher_card_template_mid">
                                <div class="voucher_card_template_mid_main_title">
                                    {% with start=v.name|find:'giảm' end=v.name|split_name_voucher:"giảm" %}
                                    <div class="voucher_card_template_mid_main_title_text">Giảm{{end}}</div>
                                </div>
                                <div class="voucher_card_template_mid_sub_title">{{v.name|slice:start}}</div>
                                {% endwith %}
                                <div class="voucher_card_template_mid_label">
                                    <div class="voucher_card_template_mid_label_container" data-cy="voucher_card_label">
                                        <div class="voucher_card_template_mid_label_text" data-cy="voucher_card_label_content" style="color: red;">
                                            {{v.day_end|date:"H:i d-m-Y"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="voucher_card_template_mid_duration">
                                    <div class="voucher_card_template_mid_duration_container">
                                        <span class="voucher_card_template_mid_duration_text">
                                                
                                            Thời hạn: Còn {{v.time}} giờ
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="voucher_card_template_right">
                                <div></div>
                                <div class="voucher_card_template_right_container_button">
                                        <input class="form-check-input" type="radio" value="" onclick="checkVoucher()" id="checkVoucher">
                                </div>
                                <div>
                                    <div class="voucher_card_template_right_text">
                                        <a href=""><span>Điều Kiện</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="voucher_card_left_item"><div class="">Số luợng có hạn</div></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
                {% comment %} <div class="voucher_type_title">Mã đổi xu/hoàn xu</div>
                <div class="voucher_each">
                    <div class="voucher_card">
                        <div class="voucher_card_left">
                            <div class="voucher_card_left_child"></div>
                        </div>
                        <div class="voucher_card_right"></div>
                        <div class="voucher_card_hideOverflow"></div>
                        <div class="voucher_card_template">
                            <div class="voucher_card_template_left">
                                <div class="voucher_card_template_logo">
                                    <img class="voucher_card_template_logo_img" src="https://cf.shopee.vn/file/sg-11134004-7qvf9-lfrr7rg2nyn9ee" alt="Logo">
                                </div>
                                <div class="voucher_card_template_logo_text1" data-cy="voucher_card_icon_text" style="color: white;">
                                    Mã vận chuyển
                                </div>
                                <div class="voucher_card_template_logo_text2" data-cy="voucher_card_sub_icon_text">
                                    HÀNG CỒNG KỀNH
                                </div>
                            </div>
                            <div class="voucher_card_template_mid">
                                <div class="voucher_card_template_mid_main_title">
                                    <div class="voucher_card_template_mid_main_title_text">Giảm tối đa ₫75k</div>
                                </div>
                                <div class="voucher_card_template_mid_sub_title">Đơn tối thiểu đ500k</div>
                                <div class="voucher_card_template_mid_label">
                                    <div class="voucher_card_template_mid_label_container" data-cy="voucher_card_label">
                                        <div class="voucher_card_template_mid_label_text" data-cy="voucher_card_label_content" style="color: red;">
                                            DUY NHẤT 29.06
                                        </div>
                                    </div>
                                </div>
                                <div class="voucher_card_template_mid_duration">
                                    <div class="voucher_card_template_mid_duration_container">
                                        <span class="voucher_card_template_mid_duration_text">
                                            Sắp hết hạn: Còn 5 giờ
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="voucher_card_template_right">
                                <div></div>
                                <div class="voucher_card_template_right_container_button">
                                    <div class="voucher_card_template_right_button" data-cy="voucher_card_radiobutton"></div>
                                </div>
                                <div>
                                    <div class="voucher_card_template_right_text">
                                        <a href=""><span>Điều Kiện</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="voucher_card_left_item"><div class="">Số luợng có hạn</div></div>
                        </div>
                    </div>
                </div> {% endcomment %}
                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<script>
    function deleteCart(even){
        id = $(even).attr('prid')
        
        $.ajax({
            url: "{% url 'shop:delete' %}",
            data: {id: id, 'csrfmiddlewaretoken':"{{ csrf_token }}"},
            method: 'POST',
            success: function(result){
                if(result.status == 'success'){
                    deleteRow(id)
                }
            }
        })
    }
    function deleteRow(id){
        $('#cart-'+id).remove()
    }

    function checkbox(even){
        $(even).checked = true
    }
    function pay(aurl){
        var checkedItems = []
        $('input[name="product"]:checked').each(function(){
            checkedItems.push($(this).val());
        });
        link_checkout = 'checkout.html'
        $.each(checkedItems, function(index, value){
            if (index == 0) {
                aurl += '?listCardId=' + value
                link_checkout += '?listCardId=' + value
            } else {
                aurl += '&listCardId=' + value
                link_checkout += '&listCardId=' + value
            }
        })
        $.ajax({
            url: aurl,
            data: {'csrfmiddlewaretoken':"{{ csrf_token }}"},
            success: function(result){
                if(result.status == 'success'){
                    window.location.href = link_checkout
                }
            }
        })
        //console.log(aurl)
        //window.location.href = "facebook.com"
    }

    function modalVoucher(){
        //$('#myModal').modal('show')
        $.ajax({
            url: "{% url 'shop:voucher' %}",
            data: {'csrfmiddlewaretoken':"{{ csrf_token }}"},
            success: function(result){
                if(result.status == 'success'){

                }
            }

        })
    }

    

</script>
<!--/ End Shopping Cart -->
{% endblock body_block %}