{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}
{% block body_block %}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="{% url 'shop:index.html'%}">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">{{product.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="product-area" class="product-area section">
    <div class="container">
        <div class="quickview-content product-details-content">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="form-main">
                    <img src="{{product.image.url}}">	
                    </div>
                </div>
                <div class="col-lg-5 col-12">

                    <div class="clearfix">
                        <h2>{{product.name}}</h2>
                        <div class="quickview-ratting-review">
                            <div class="quickview-ratting-wrap">
                                <a href="#"> <i class="yellow fa fa-eye"></i>  {{product.viewed}} viewed</a>
                            </div>
                            <div class="quickview-stock">
                                <span><i class="fa fa-check-circle-o"></i> Đang mở bán </span>
                            </div>
                            
                            <div class="quickview-ratting-wrap" style="margin-left: 24px;"> 
                                <div class="quickview-ratting">
                                    {% for i in range %}
                                        {% if forloop.counter|floatformat <= product.rate|floatformat %}
                                            <i class="yellow fa fa-star"></i>
                                        {% else %}
                                            <i class="fa fa-star"></i> 
                                        {% endif %} 
                                    {% endfor %}
                                </div>
                                <a href="#"> {{product.rate|floatformat}} rating</a>
                            </div>
                        </div> 
                        <h3> {{product.price|floatformat:0|intcomma}} $ </h3>
                        <div class="quickview-peragraph">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.</p>
                        </div>
                        <div class="clearfix mt-4">
                            <div class="quantity">
                                <!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                            <i class="ti-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                            <i class="ti-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </div> 
                            <div class="add-to-cart">
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                            <div class="default-social">
                                <h4 class="share-now">Share:</h4>
                                <ul>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>

                </div>
            </div>
        </div>

        <div class="product-content mt-5">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="form-main">
                        {{product.content|safe}} 
                    </div>
                </div>
                
            </div>
        </div>

        </div>
</section>
{% comment %} <style>
    .filledStar{
        color: yellow
    }
</style> {% endcomment %}
<script>
    {% comment %} const ratingS = {{product.rate}}
    function convertToStars(ratingS) {
        const filledStar = '\u2605'; // Ký tự sao tô màu
        const emptyStar = '\u2606'; // Ký tự sao không tô màu
    
        const filledStarsCount = Math.floor(ratingS); // Số lượng sao tô màu
        const emptyStarsCount = 5 - filledStarsCount; // Số lượng sao không tô màu
    
        const filledStars = filledStar.repeat(filledStarsCount);
        const emptyStars = emptyStar.repeat(emptyStarsCount);
    
        const ratingContainer = document.getElementById('rating-container');
        ratingContainer.innerHTML = `<span class="filledStar">${filledStars}</span>${emptyStars}`;
      }
      convertToStars(ratingS);  {% endcomment %}
</script>
<!--/ End Contact -->
{% endblock body_block %}
