{% extends "stories/base.html" %}
{% load static %}
{% block body_block %} 
<!-- BẮT ĐẦU NỘI DUNG TRANG -->
<h3>Tôi đã xem: {{visits}} lần</h3>
<h3>Hôm nay: {{list_visits}}</h3>
<div class="row home-slide">
  <div class="col-md-6">
    <div class="home-slide-item">
      <a href="{% url 'stories:story.html' latest.id%}">
        <img class="img-thumbnail" src="{{MEDIA_URL}}{{latest.image}}" alt="{{latest.name}}">
      </a>
      <div class="carousel-caption text-left">
        <h1>{{latest.name}}</h1>
      </div>
    </div><!--home-slide-item -->
  </div>
  <div class="col-md-6">
    <div class="row">
      {%if next4s %}
        {% for new in next4s %}
          <div class="col-md-6">
            <div class="home-slide-item">          
            <a href="{% url 'stories:story.html' new.id%}">
              <img class="img-thumbnail" src="{{MEDIA_URL}}{{new.image}}" alt="{{new.name}}">
            </a>
            <h3>{{new.name}}</h3>
          </div><!--home-slide-item -->
    </div>
        {%endfor%}
      {%endif%}
  </div>
</div>




</div>
<!-- KẾT THÚC NỘI DUNG TRANG -->

{% endblock %}