{% extends "stories/base.html" %}
{% load static %}
{% block body_block %}

<!-- BẮT ĐẦU NỘI DUNG TRANG --> 
<div class="row">
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 font-italic border-bottom">  {{story.category}} </h3>
        <div class="blog-post">
            <h2 class="blog-post-title">{{story.name}}</h2>
            <p class="blog-post-meta">{{story.public_day}} by <a href="#">{{story.author}}</a></p>
            {{story.content|safe}} 
        </div><!-- /.blog-post -->
    </div><!-- /.col-->
    <div class="col-md-4">
        <h3>Newest stories</h3>
        {%if newest %}
            {% for new in newest %}
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-thumbnail" src="{{MEDIA_URL}}{{new.image}}" alt="{{new.name}}">
                    </div><!-- /.col-->
                    <div class="col-md-6">
                        <h4> <a href="{% url 'stories:story.html' new.id%}"> {{new.name}}</a></h4>
                        <span>  {{new.public_day}}</span>
                    </div><!-- /.col-->
                </div><!-- /.row-->
            {%endfor%}
        {%endif%}
    </div><!-- /.col-->
</div><!-- /.row-->
<!-- KẾT THÚC NỘI DUNG TRANG --> 

{% endblock body_block %}

